#THIS ARE THE NEEDS TO FULLY RUN THIS PROJECT SIR.

VITE_API_BASE_URL=http://127.0.0.1:8000/api


VITE_AUTH_LOGIN_PATH=/student/login

VITE_AUTH_REGISTER_PATH=/register
VITE_AUTH_LOGOUT_PATH=/logout

VITE_OPENWEATHER_API_KEY=your_openweather_api_key_here